@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    font-family: "Poetsen One", sans-serif; 
    margin: 0;
    background-image: url("images/seaBackground.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: relative; /* Add position relative */
    z-index: 2; /* Set z-index to a higher value */
}

.nav-section {
    flex: 1;
    text-align: center;
}

.nav-section a {
    display: block;
    padding: 1vw; /* Using viewport width units for padding */
    color: white;
    text-decoration: none;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.nav-section a:hover {
    background-color: #ddd;
    color: black;
}

.score{
    background-color: lightgrey;
    padding: 1vw;
    width: 6vw;
    border-radius: 5vw;
    position: absolute;
    top: 3.5vw; 
    left: 95vw;
    transform: translateX(-50%);
    text-align: center;
    color:#aa7918;
}

.sCurrency{
    width:1.5vw;
    position: absolute;
    right: 6vw;
    top: 4.8vw;
}

.packContainer {
    background-color: #9A7B4F;
    width: 50vw; /* Set width to half of the viewport width */
    height: 100vh; /* Set height to fill the entire viewport height */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Set z-index to a lower value */
}


.strawhatCard{
    width:10vW;
    position: absolute;
    top: 1vw;
    left: 6vw;
    transform: translateX(-50%);
}

.strawhatContainer{
    background-color: lightgray;
    width:45vw;
    height:16vw;
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    text-decoration: none;
    color: inherit; /* Remove link color */
}

.emperorCard{
    width:10vW;
    position: absolute;
    top: 1vw;
    left: 6vw;
    transform: translateX(-50%);
}

.emperorContainer{
    background-color: lightgray;
    width:45vw;
    height:16vw;
    position: absolute;
    top: 25vw;
    left: 2.5vw;
    text-decoration: none;
    color: inherit; /* Remove link color */
}

.sText{
    position: absolute;
    top: 3vw;
    left: 26.5vw;
    transform: translateX(-50%);
    text-align: center;
}

.eText{
    position: absolute;
    top: 5vw;
    left: 26.5vw;
    transform: translateX(-50%);
    text-align: center;
}

.currency{
    width:1.5vw;
    position: absolute;
    bottom:0.1vw;
    right: 4.3vw;
}

.price{
    position: absolute;
    bottom: 0;
    right: 1vw;
    transform: translateY(50%);
    font-size: 25px;
    color:#aa7918;
}

.scoreTitle{
    position: absolute;
    top: 0;
    left: 39.5vw;
    transform: translateY(-50%);
    font-size: 25px;
    color:#aa7918;
}

.dCurrency{
    width:1.5vw;
    position: absolute;
    bottom:0.1vw;
    right: 10.8vw;
}

.dPrice{
    position: absolute;
    bottom: 0;
    right: 8vw;
    transform: translateY(50%);
    font-size: 25px;
    color:#aa7918;
}

.button-container button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

header{
    font-size: 40px;
    color: #B90E0A;
}
.details{
    font-size: 20px;
    color: #DAA520;
}

@media (max-width: 900px) {
    .packContainer {
        width: 70vw;
        height: 97.5vh; 
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; /* Set z-index to a lower value */
    }

    .strawhatCard{
        width:18vW;
        position: absolute;
        top: 2.5vw;
        left: 12vw;
        transform: translateX(-50%);
    }
    
    .strawhatContainer{
        background-color: lightgray;
        width:64.5vw;
        height:30vw;
        position: absolute;
        top: 10vw;
        left: 2.5vw;
        text-decoration: none;
        color: inherit; /* Remove link color */
    }
    
    .text{
        position: absolute;
        top: 8vw;
        left: 43vw;
        text-align: center;
        width: 42vw;
    }
    
    .currency{
        width:2.5vw;
        position: absolute;
        top: 1.3vw;
        left: 53.8vw;
    }
    
    .price{
        position: absolute;
        transform: translate(300%,-20%);
        font-size: 12px;
        color:#aa7918;
    }
    header{
        font-size: 15px;
        color: #B90E0A;
    }
    .details{
        font-size: 12px;
        color: #DAA520;
    }
}